* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 544px;
    min-height: 544px;
    max-width: 544px;
    min-width: 544px;
    border: black 2px solid;
}

.square1 {
    height: 15px;
    width: 15px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
}